/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fdf9f6;
    color: #333;
}

.container {
    display: flex;
    height: 100vh;
}

.left-section {
    flex: 1;
    background-color: #fdf9f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.right-section {
    flex: 1;
    background-color: #213933;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;


.logo {
    text-align: center;
}

.logo img {
    width: 100px;
    margin-bottom: 10px;
}

.logo h1 {
    font-size: 36px;
    margin: 0;
    color: #213933;
}

.logo p {
    font-size: 18px;
    margin: 0;
    color: #c05640;
    font-weight: bold;
    letter-spacing: 1px;
}

.image img {
    width: 100%;
    max-width: 400px;
    border-radius: 50% 50% 0 0;
    overflow: hidden;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

.menu li {
    margin: 20px 0;
    border-bottom: 1px solid #fff;
}

.menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.menu li a:hover {
    text-decoration: underline;
}
